<!DOCTYPE html>
<div id="post-<%= post._id %>" class="post">
  <div class="title">
    <a href="/posts/<%= post._id %>"><%= post.title %></a>
  </div>
  <div class="body">
    <p><%= post.body %></p>
    <p class="date"><%= post.created_at %></p>
  </div>
  <!--Delete-->
  <% if (showButton) { %>
    <div class="button">
      <button id="button-<%= post._id %>" onclick="location.href = '/destroy/<%= post._id %>'">Delete</button>
    </div>
  <!--Update-->
  <div class="container" id="container">
    <form class="updateContainer" id="updateContainer">
      <input id="updateTitle" type="text" placeholder="Update journey title" />
      <textarea rows="10" cols="65"class="body" id="updateBody" type="text" placeholder="Update Journey content"></textarea>
      <button id="updateButton">Update</button>
    </form>
  
</div>
  <% } %>
</div>
<script>
  $("#updateButton").click(function() {
    let title = $("#updateTitle").val();
    let body = $("#updateBody").val();
  
    let token = document.cookie.split(" ").filter(i => {
      return i.indexOf('token') > -1
    })[0].split(";")[0].split("=")[1];
  
    fetch('/api/v1/posts/<%= post._id %>', {
      method: 'POST',
      headers: {
       'Content-Type':'application/json',
       'Authorization': localStorage.getItem('token') 
      },
      body: JSON.stringify({
        title: title,
        body: body
      })
    })
      .then(response => {
        return response.json()
        console.log(response)
      })
      .then(response => {
        if (response.success) {
          return window.location.replace('/')
        }
  
        alert('Failed to update post!')
      })
  })
</script>